a {
    color: #bb9a4e;
    font-style: italic;
}

a:hover {
    color: wheat;
    text-decoration: none;
}

.btn-primary {
    width: 50%;
    margin-left: 25%;
    background-color: rgb(240, 168, 81) !important;
    color: rgb(41, 1, 0);
    border: none;
    margin-bottom: 10px;
}

.custom {
    text-align: center;
    color: rgb(240, 168, 81);
}

body {
    background-image: url('../images/BackGroundLogin.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.form-color {
    background-color: rgba(33, 33, 32, 0.75) !important;
    border-color: rgba(0, 0, 0, 0.75) !important;
}

p,
label {
    color: white;
}

.form-control:focus {
    background-color: #f3eac4;
    outline: #e3d1bd;
}

.form-control:hover {
    background-color: #fff5cf;
}

.input-group-text {
    background-color: rgb(95, 80, 63);
}

.invalid-feedback {
    color: rgb(233, 15, 15) !important;
}

.message_regis,
.message_forgot {
    padding: 10px;
    background-color: aquamarine;
    width: fit-content;
    border-radius: 10px;
    position: absolute;
    bottom: -130px;
    left: 15%;
}